# This CircleCI configuration uses workflows to fan-out to multiple jobs.  The
# workflow is Dockerized. The first job builds the Docker image which is used
# in all future steps.
#
#  Assumes that the Docker image is published to Docker Hub.


version: 2

# The following stanza defines a map named defaults with a variable that may be
# inserted using the YAML merge (<<: *) key later in the file to save some
# typing. See http://yaml.org/type/merge.html for details.
defaults: &defaults
  environment:
    - DOCKER_REPOSITORY: "reactioncommerce/base"
    - DOCKER_NAMESPACE: "reactioncommerce"
    - DOCKER_NAME: "base"
  working_directory: ~/reaction-app
  docker:
    - image: circleci/node:8-stretch

jobs:
  docker-build:
    <<: *defaults
    parallelism: 2
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Docker Build
          command: .circleci/bin/build $(circleci tests glob versions/**/options | circleci tests split)
      - persist_to_workspace:
          root: docker-cache
          paths:
            - docker-tags.txt
            - images/*

  docker-push:
    <<: *defaults
    steps:
      - checkout
      - setup_remote_docker
      - attach_workspace:
          at: docker-cache
      - run:
          name: Load Docker Image
          command: |
            .circleci/bin/docker-tags \
              | xargs -t -I % \
                docker load --input docker-cache/images/%
      - run:
          name: Docker Push
          command: |
            if [ -z "$CIRCLE_PR_USERNAME" ]; then \
              docker login -u "$DOCKER_USER" -p "$DOCKER_PASS"
              .circleci/bin/docker-tags \
                | xargs -t -I % \
                  docker push "$DOCKER_REPOSITORY:%"
            else
              echo "No deploy for forks"
            fi

  test:
    <<: *defaults
    steps:
      - checkout
      - setup_remote_docker
      - attach_workspace:
          at: docker-cache
      - run:
          name: Load Docker Image
          command: |
            .circleci/bin/docker-tags \
              | xargs -t -I % \
                docker load --input docker-cache/images/%
      - run:
          name: Test installed dependencies
          command: |
            .circleci/bin/docker-tags \
                | xargs -t -I % \
            docker run --rm \
              "$DOCKER_REPOSITORY:%" \
              bash test-script.sh

  dockerfile-lint:
    <<: *defaults
    docker:
      - image: hadolint/hadolint:v1.6.6-6-g254b4ff
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Dockerfile Lint
          command: |
            echo versions/**/Dockerfile | xargs -t -n 1 hadolint


workflows:
  version: 2
  build_and_test:
    jobs:
      - dockerfile-lint
      - docker-build:
          context: reaction-build-read
      - docker-push:
          context: reaction-publish-docker
          requires:
            - docker-build
            - test
          filters:
            branches:
              only:
                - master
      - test:
          context: reaction-validation
          requires:
            - docker-build
